.admin-settings-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F5F5;
    color: #333;
  }

  .profile-header {
    flex: 1;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .profile-header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .profile-header p {
    color: #11203A;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .profile-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .profile-header h1 {
        font-size: 1.7rem;
    }

    .profile-header p {
        font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .profile-header {
        padding-left: 1.5rem;  
        padding-right: 1.5rem;
    }

    .profile-header h1 {
        font-size: 1.5rem;
    }

    .profile-header p {
        font-size: 0.9rem;
    }     
  }
  
  .profile-form {
    background-color: #FFF;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 800px;
    margin: 0 auto;
  }
  
  .profile-photo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .photo-preview {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #11203A;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 0.5rem;
  }
  
  .profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .photo-placeholder {
    font-size: 0.9rem;
    color: #11203A;
    text-align: center;
  }

  #upload {
    color: #ffffff;
  }
  
  .upload-btn {
    background-color: #F8510B;
    color: #FFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 0.9rem;
  }
  
  .upload-btn:hover {
    transform: scale(1.05);
  }
  
  .profile-form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #11203A;
  }
  
  .profile-form input {
    width: 95%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #11203A;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  .update-btn {
    background-color: #F8510B;
    color: #FFF;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
  }
  
  .update-btn:hover {
    transform: scale(1.05);
  }
  
  .delete-note {
    color: #F8510B;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .form-actions {
    display: flex;
    gap: 1rem;
  }
  
  .form-actions button {
    background-color: #F8510B;
    color: #FFF;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
  }
  
  .form-actions button:first-child {
    background-color: transparent;
    color: #F8510B;
    border: 1px solid #F8510B;
    border-radius: 20px;
  }
  .form-actions button:last-child {
    background-color: #F8510B;
    color: #FFF;
    border: none;
    border-radius: 20px;
  }
  
  
  .form-actions button:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .profile-form {
      max-width: 90%;
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .profile-photo-section {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .photo-preview {
      margin-bottom: 1rem;
    }
  }
