.new-password-container {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 120px;
  }
  
  .logo-new {
      width: 250px;
      height: auto;
  }
  
  .new-password-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
      border: 1px solid #11203A;
      max-width: 600px;
      margin: 0 auto;
      padding: 40px;
      border-radius: 20px;
  }
  
  .new-password-form h2 {
      font-size: 34px;
      color: #11203A;
  }
  
  .new-password-form p {
      font-size: 20px;
      color: #11203A;
      margin-bottom: 30px;
  }
  
  .new-password-form input {
      width: 450px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #11203A;
      margin-bottom: 20px;
      font-size: 1rem;
  }
  
  .new-password-form input:focus {
      outline: none;
  }
  
  .change-password {
      background-color: #fb510b;
      color: #ffffff;
      padding: 15px 30px;
      border: none;
      border-radius: 25px;
      font-size: 1.2rem;
      cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
      .logo-new {
          width: 180px;
      }
  
      .new-password-form {
          padding: 20px;
          max-width: 80%;
      }
  
      .new-password-form h2 {
          font-size: 25px;
      }
  
      .new-password-form p {
          font-size: 16px;
      }
  
      .new-password-form input {
          width: 90%;
          font-size: 1rem;
      }
  
      .new-password-button {
          padding: 8px 16px;
      }
  }
