.reset-password-container {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:fit-content;
    padding: 20px;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.logo {
    width: 250px;
    height: auto;
}



.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #11203A;
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
}

.reset-password-form h2 {
    font-size: 34px;
    color: #11203A;
}

.reset-password-form p {
    font-size: 20px;
    color: #11203A;
    margin-bottom: 30px;
}

.reset-password-form input {
    width: 80%;
    padding: 13px;
    border-radius: 8px;
    border: 1px solid #11203A;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.reset-password-form input:focus {
    outline: none;
}

.reset-password-button {
    background-color: #fb510b;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px 30px;
}

@media (max-width: 768px) {
    .logo {
        width: 180px;
    }

    .reset-password-form {
        padding: 20px;
        max-width: 70%;
    }

    .reset-password-form h2 {
        font-size: 25px;
    }

    .reset-password-form p {
        font-size: 16px;
    }

    .reset-password-form input {
        width: 80%;
        font-size: 1rem;
    }

    .reset-password-button {
        padding: 10px 20px;
    
    }
}
